.clip {
  background-color: $color-primary1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  clip-path: polygon(80% 0, 100% 0, 100% 25%, 15% 100%, 0 100%, 0 70%);
  z-index: -20;
}

.section__hero {
  background-color: $color-black;

  height: 92vh;
  border-radius: 5px;
  transition: all 0.4s ease-in-out;

  display: grid;
  gap: 2rem;
  grid-template-columns: 4rem repeat(6, 1fr) 4rem;
  grid-template-rows: 1rem repeat(6, 1fr);

  &-plogo {
    width: 12rem;
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: start;
    z-index: 2;

    &:hover {
      animation: playaround 4s ease-in-out;
    }
  }

  &-heading1 {
    line-height: 2.5rem;
    letter-spacing: 0.2rem;

    grid-column: 2/5;
    grid-row: 4/5;
    z-index: 2;
  }

  &-greet {
    display: flex;
    gap: 1.5rem;
  }

  &-name {
    font-size: 3.2rem;
    line-height: 1.5;
    color: $color-primary1;
    padding: 0.5rem 0;
    display: flex;
    gap: 1rem;
  }

  &-job {
    display: flex;
    gap: 1.5rem;
  }

  &-desc {
    font-size: 1.6rem;
    font-weight: 300;
    color: $color-grey2;
    letter-spacing: 0.2rem;
    word-spacing: 0.3rem;
    line-height: 1.5;
    z-index: 2;

    grid-column: 2/5;
    grid-row: 5/6;
  }

  &-profileimg {
    display: block;
    grid-column: 4/-1;
    grid-row: 2/ -1;
    z-index: 1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

////////// BUTTON /////////
.btn-con {
  display: flex;

  grid-column: 2/4;
  grid-row: 6/7;
  align-self: center;

  z-index: 2;
}

.main-btn:link,
.main-btn:visited {
  border-radius: 5rem;
  color: inherit;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  background-color: $color-primary1;
  border: 1px solid $color-grey2;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: $transition;

  .btn-text {
    padding: 0 2rem;
    font-size: 1.8rem;
  }

  .btn-icon {
    background-color: $color-black;
    border-radius: 50%;
    padding: 1.2rem;
    font-size: 3rem;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 0.5rem 1rem rgba($color-white, 0.1);
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-white, 0.2);
  }
}
/////////// PROFILE ANIMATION ////////
.pro__show {
  &-1 {
    display: block;
    animation: toright 1s ease-out;
    animation-fill-mode: backwards;
  }

  &-2 {
    display: block;
    animation: toright 1s ease-out 0.5s;
    animation-fill-mode: backwards;
  }

  &-3 {
    display: block;
    animation: toright 1s ease-out 1s;
    animation-fill-mode: backwards;
  }

  &-4 {
    justify-self: center;
    display: block;
    animation: toright 1s ease-out 1.5s;
    animation-fill-mode: backwards;
  }

  &-5 {
    display: block;
    animation: toright 1s ease-out 2s;
    animation-fill-mode: backwards;
  }

  &-6 {
    display: block;
    animation: toright 1s ease-out 2.5s;
    animation-fill-mode: backwards;
  }
  &-7 {
    display: block;
    animation: toright 1s ease-out 3s;
    animation-fill-mode: backwards;
  }
  &-8 {
    display: block;
    animation: toright 1s ease-out 3.5s;
    animation-fill-mode: backwards;
  }
}

////////// MEDIA Q-LARGE /////////
@media only screen and (max-width: $break-largest) {
  .section__hero {
    &-profileimg {
      grid-template-columns: 3/-1;
    }
  }
}

////////// MEDIA Q-LARGE /////////
@media only screen and (max-width: $break-large) {
  .section__hero {
    &-name {
      display: grid;
      grid-template-columns: repeat(2, 14rem);
      gap: 0;
    }

    &-profileimg {
      grid-column: 2/-1;
    }
  }
}

////////// MEDIA Q-MEDIUM /////////
@media only screen and (max-width: $break-medium) {
  .section__hero {
    grid-template-rows: 1rem repeat(7, 1fr);

    &-plogo {
      align-self: center;
    }

    &-heading1 {
      grid-column: 2/-2;
      grid-row: 5/6;
    }

    &-name {
      display: flex;
      gap: 1rem;
    }

    &-desc {
      grid-column: 2/-2;
      grid-row: 6/7;
    }

    &-profileimg {
      grid-column: 1/-1;
      grid-row: 1/ 5;
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    }
  }

  .btn-con {
    grid-column: 1/-1;
    grid-row: 7/8;
    align-self: start;
    justify-self: center;
  }
}

////////// MEDIA Q-SMALL /////////
@media only screen and (max-width: $break-small) {
  .section__hero {
    grid-template-columns: 2rem repeat(6, 1fr) 4rem;

    &-heading1 {
      font-size: 1.8rem;
    }

    &-name {
      font-size: 2.4rem;
    }
  }

  .btn-con {
    align-self: center;
  }

  .main-btn:link,
  .main-btn:visited {
    .btn-text {
      font-size: 1.8rem;
    }
  }
}
